code/frameworks/scATD/pretrained_models/
code/README.md
*/AGENTS.md
AGENTS.md
.gitignore
*/wandb/
*/lightning_logs/
lightning_logs/
*/__pycache__/
plots/
sanity_check/
original_git_repos/
original_publications/
datasets/processed/*
datasets/temp/
datasets/*py*
*/.git
